root { 
    display: block;
}

.territorio, .regiao{
    fill: #FFF;
    fill-opacity: 0.9;
    stroke-width:1;
    stroke: grey;
}

.territorio:hover{
    fill-opacity: 0.7;
    stroke-width: 2;
    stroke: grey;
}
.continente{
  fill-opacity: 1;
}


.selecionado, .selecionado:hover{
    fill-opacity:0.9;
    stroke-width:2;
    stroke: black;
}

.jogavel{
    fill-opacity: 1;
    stroke-width:2;
    stroke: black;
}

.apaga {
    fill-opacity: 0.2;
}

.amarelo{
    stroke-width:2;
  stroke: #efe661;
}

.vermelho{
    stroke-width:2;
  stroke: #f64a2d;
}

.azul{
    stroke-width:2;
  stroke: #4567BA;
}

.verde{
    stroke-width:2;
  stroke: #45BA67;
}

.preto{
    stroke-width:2;
  stroke: #343327;
}

.branco{
    stroke-width:2;
  stroke: #ffffff;
}


